*.aux
*.log
*.toc
*.out
*.synctex.gz
*.DS_Store
/prog/Data
/wavelet/audio_data
/wavelet/test_data
*.json
*.csv
*.mp3
/.dvc/tmp
/prog/Data
/wavelet/Data/audio_data
/wavelet/Data/test_data
/wavelet/example_Data
*.pkl